@model vnLab.ViewModel.Systems.UserViewModel
@using Microsoft.Extensions.Configuration

@{
    ViewData["Title"] = "My Profile";
}
@inject IConfiguration Configuration

<div class="">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Profile</li>
        </ol>
    </nav>
    <div>
        @if (string.IsNullOrEmpty(Model.Avatar))
        {
            <span class="avatar avatar-lg mx-2 text-uppercase gradient-avatar">@Model.LastName?.ElementAt(0)</span>
        }
        else
        {
            <img style="object-fit: cover;" class="rounded-circle me-1 mb-2" width="42" height="42"
                src="@Configuration["BackendApiUrl"]/avatars/@Model.Avatar" alt="">
        }
        <h1 class="post-title m-0">@Model.UserName</h1>
        <p class="d-flex">
            @Html.Raw(Model.Description)
        </p>

        <style>
            .post-title {
                display: inline-block;
            }
        </style>
        <style>
            .post-title {
                text-align: left;
            }
        </style>



        <table class="table table-bordered mt-2">
            <tr>
                <td>First Name</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn btn-success" href="@Configuration["BackendApiUrl"]/Account/Manage"
                        target="_blank">Modify</a>
                </td>
            </tr>
        </table>

        <a asp-controller="Account" asp-action="SignOut" class="btn btn-sm btn-danger">Logout</a>
    </div>
</div>